.resume {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  width: 900px;
  padding: 60px 120px;
  margin: 0 auto;
}

.section {
  cursor: pointer;
  outline: 1px dashed transparent;
  transition: outline-color .1s, background-color .1s;
  padding: 5px 10px;

  &:hover {
    outline-color: $blue;
    background-color: $hoverGrey;
  }
}

.photo {
  max-height: 144px;
  max-width: 144px;
  object-fit: cover;
}

.upload {
  position: absolute;
  border-radius: 50%;
  height: 144px;
  width: 144px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;

  &:hover + .upload-overlay {
    opacity: .7;
  }
}

.upload-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 144px;
  width: 144px;
  cursor: pointer;
  background-color: #eee;
  opacity: 0;
  transition: .2s;
}

.name {
  margin-bottom: 5px;
  font-weight: 800;
}

.title {
  margin-bottom: 5px;
}

.address {
  span {
    font-size: 12px;
    color: $lightGrey;
    margin-right: 10px;
  }
}
