.resume {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  width: 900px;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //font-family: 'Kollektif', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
//*********** PHOTO SECTION  *************\\
.photo {
  position: relative;
  margin-bottom: 20px;

  &__portrait {
    max-height: 150px;
    max-width: 150px;
    object-fit: cover;
    position: relative;
  }

  &__upload {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;

    &:hover + .photo__overlay {
      opacity: .7;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: #eee;
    opacity: 0;
    transition: .2s;
  }
}

//*********** REGULAR SECTION  *************\\

.section {
  cursor: pointer;
  outline: 1px dashed transparent;
  transition: outline-color .1s, background-color .1s;
  padding: 10px;
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    margin: 0;
    font-size: 16px;
  }

  &__hr {
    height: 2px;
    width: 100%;
    background-color: $lightGrey;
    margin: 5px 0;
  }

  &:hover {
    outline-color: $blue;
    background-color: $hoverGrey;
  }
}

//*********** PROFILE SECTION  *************\\
.profile {
  &__name {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Ovo', serif;
    margin: 0
  }
  
  &__hr {
    height: 3px;
    width: 60%;
    background-color: $lightGrey;
    margin: 5px 0;
  }

  &__title {
    font-family: 'Kollektif', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }

  &__address {
    background-color: $lightGrey;
    width: 900px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    span {
      margin-left: 10px;
      font-size: 13px;
      font-weight: 400;
      margin-right: 10px;
    }
  }
}

//*********** SKILLS SECTION  *************\\

.skills {
  &__item {
    margin-top: 5px;
  }

  &__header {
    font-size: 14px;
    margin-bottom: 2px;
  }

  &__buttons {
    margin-top: 10px;
  }

  &__form-item:after, &__buttons:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//*********** EXPERIENCE SECTION  *************\\

.experience {
  &__list {
    width: 100%;
  }

  &__position {
    margin: 10px 0 !important;
  }

  &__company {
    font-size: 13px;
    font-style: italic;
    color: #999;
    margin-bottom: 0;
  }

  &__date {
    font-size: 13px;
    font-style: italic;
    margin-bottom: 10px;
    color: #999;
  }

  &__hr {
    height: 1px;
    background-color: $lightGrey;
    width: 100%;
  }

  &__form-item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//*********** EDUCATION SECTION  *************\\

.education {
  &__list {
    width: 100%;
  }

  &__specialization {
    margin: 10px 0 !important;
  }

  &__school {
    font-size: 13px;
    font-style: italic;
    color: #999;
    margin-bottom: 0;
  }

  &__date {
    font-size: 13px;
    font-style: italic;
    margin-bottom: 10px;
    color: #999;
  }

  &__hr {
    height: 1px;
    background-color: $lightGrey;
    width: 100%;
  }

  &__form-item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
