.resume {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  width: 900px;
  padding: 30px 120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
//*********** PHOTO SECTION  *************\\
.photo {
  position: relative;

  &__portrait {
    max-height: 150px;
    max-width: 150px;
    object-fit: cover;
    position: relative;
  }

  &__upload {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;

    &:hover + .photo__overlay {
      opacity: .7;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: #eee;
    opacity: 0;
    transition: .2s;
  }
}

//

.section {
  cursor: pointer;
  outline: 1px dashed transparent;
  transition: outline-color .1s, background-color .1s;
  padding: 5px 10px;

  &:hover {
    outline-color: $blue;
    background-color: $hoverGrey;
  }
}

.name {
  margin-bottom: 5px;
  font-weight: 800;
}

.title {
  margin-bottom: 5px;
}

.address {
  span {
    font-size: 12px;
    color: $lightGrey;
    margin-right: 10px;
  }
}
