@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
  font-family: 'Kollektif';
  src: url('../fonts/._Kollektif-Bold.ttf') format('truetype');
}

$blue: #1aa4d8;
$lightGrey: #eff0f2;
$hoverGrey: #f8f8f8;